@font-face {
  font-family: Jura;
  src:
    url(./Jura-VariableFont_wght.ttf) format('ttf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Jura;
  src:
    url(./Jura-Bold.ttf) format('ttf');
  font-weight: bold;
  font-display: swap;
}
