.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;  
}

.header__menu {
  align-items: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: circle;
}
.header__links-list-item {
  font-size: 25px;
}

.header__logo {
  display: block;
  justify-self: center;
  }

.header__address {
  max-width: 240px;
  width: 100%;
  justify-self: end;
  line-height: 25px;
  text-underline-offset: 4px;
  font-style: normal;
}
.overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  inset: 0;
  height: 100%;
  width: 100%;
}

.cover {
  position: relative;
  margin-bottom: 40px;
  padding: 50px;
  background-color: green;
}

.cover__title {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
}

.cover__description {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  justify-content: center;
}
.video {
  width: 600px;
  height: 600px;
}
.buy {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.bet-button {
  background-color: transparent;
  width: 256px;
  height: 51px;
  font-size: 22px;
  text-transform: uppercase;
  border: 2px solid currentColor;
  color: white;
  z-index: 2;
}

.lots {
  margin-bottom: 40px; 
} 

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  text-align: start;
}

.lots__card-list {
  display: grid;
  grid-template-columns: min-content min-content min-content 1fr;
  list-style: none;
  gap: 25px;
  color: white;
  overflow-x: auto;
  scrollbar-color: #fff #000;

}

.lots__card-list-item {
  width: 334px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}

.card_type_service {
  background-image: url(../images/сервис.jpg);
}

.card_type_protect {
  background-image: url(../images/безопасность.jpg);
}

.card_type_speed {
  background-image: url(../images/скорость.jpg);
}

.card_type_diplomat {
  background-image: url(../images/привилегированность.jpg);
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 22px;
  z-index: 2;
}

.card__text {
  height: 100%;
  font-size: 20px;
  z-index: 2;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 40px; 
}

.about__section {
  display: flex;
  flex-direction: column;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
}

.about__text {
  font-size: 20px;
}

.document {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}

.button-documents {
  /*width: 150px;*/
  height: 51px;
  font-size: 22px;
  text-transform: uppercase;
  border: 2px solid currentColor;
  z-index: 2;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0px 50px;
}

.footer__address {
  font-size: 18px;
  line-height: 25px;
  text-underline-offset: 4px;
}

/*.footer__menu {
  
} не использовал*/

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.footer__menu-list-item {
  list-style: none;
  font-size: 18px;
  text-underline-offset: 4px;
  font-style: normal;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
